includes:
    - phpstan-baseline.neon

parameters:
  parallel:
      # Don't be overly greedy on machines with more CPU's to be a good neighbor especially on CI
      maximumNumberOfProcesses: 5

  level: 0

  bootstrapFiles:
    - .Build/vendor/autoload.php

  paths:
    - Classes
    - tests

  scanDirectories:
    - Classes
    - tests

  excludePaths:
    - Classes/Typo3Wrapper/Service/AuthenticationService.php
