parameters:
	ignoreErrors:

		-
			message: "#^Method Sys25\\\\RnBase\\\\Database\\\\Driver\\\\TYPO3DBAL\\:\\:exec_DELETEquery\\(\\) should return object but return statement is missing\\.$#"
			count: 1
			path: Classes/Database/Driver/TYPO3DBAL.php

		-
			message: "#^Method Sys25\\\\RnBase\\\\Database\\\\Driver\\\\TYPO3DBAL\\:\\:exec_INSERTquery\\(\\) should return object but return statement is missing\\.$#"
			count: 1
			path: Classes/Database/Driver/TYPO3DBAL.php

		-
			message: "#^Method Sys25\\\\RnBase\\\\Database\\\\Driver\\\\TYPO3DBAL\\:\\:exec_UPDATEquery\\(\\) should return object but return statement is missing\\.$#"
			count: 1
			path: Classes/Database/Driver/TYPO3DBAL.php

		-
			message: "#^Call to static method lookup\\(\\) on an unknown class tx_wecmap_cache\\.$#"
			count: 1
			path: Classes/Maps/Google/Util.php

		-
			message: "#^Access to an undefined property Sys25\\\\RnBase\\\\Search\\\\ConditionBuilder\\:\\:\\$tableMapping\\.$#"
			count: 2
			path: Classes/Search/ConditionBuilder.php

		-
			message: "#^Call to an undefined static method PHPUnit\\\\Framework\\\\TestCase\\:\\:getMock\\(\\)\\.$#"
			count: 1
			path: Classes/Testing/BaseTestCase.php

		-
			message: "#^Call to an undefined static method TYPO3\\\\CMS\\\\Core\\\\Core\\\\Bootstrap\\:\\:getInstance\\(\\)\\.$#"
			count: 1
			path: Classes/Testing/BaseTestCase.php

		-
			message: "#^Call to static method fromPath\\(\\) on an unknown class Swift_Attachment\\.$#"
			count: 1
			path: Classes/Utility/Email.php

		-
			message: "#^Method tx_rnbase_action_BaseIOC\\:\\:setConfigurations\\(\\) should return Sys25\\\\RnBase\\\\Configuration\\\\ConfigurationInterface but return statement is missing\\.$#"
			count: 1
			path: Legacy/action/class.tx_rnbase_action_BaseIOC.php

		-
			message: "#^Class TYPO3\\\\CMS\\\\Extbase\\\\Object\\\\ObjectManager constructor invoked with 0 parameters, 2 required\\.$#"
			count: 1
			path: tests/Classes/ExtBaseFluid/View/StandaloneTest.php

		-
			message: "#^Class TYPO3\\\\CMS\\\\Extbase\\\\Object\\\\ObjectManager constructor invoked with 0 parameters, 2 required\\.$#"
			count: 1
			path: tests/Classes/ExtBaseFluid/ViewHelper/BaseViewHelperTest.php

		-
			message: "#^Call to an undefined method tx_rnbase_dummyController\\:\\:getErrorMailHtml\\(\\)\\.$#"
			count: 1
			path: tests/class.tx_rnbase_tests_controller_testcase.php
