parameters:
	ignoreErrors:
		-
			message: "#^Method Sys25\\\\RnBase\\\\Backend\\\\Form\\\\Element\\\\InputText\\:\\:render\\(\\) should return array but return statement is missing\\.$#"
			count: 1
			path: Classes/Backend/Form/Element/InputText.php

		-
			message: "#^Access to an undefined property Sys25\\\\RnBase\\\\Backend\\\\Form\\\\ToolBox\\:\\:\\$tceStack\\.$#"
			count: 2
			path: Classes/Backend/Form/ToolBox.php

		-
			message: "#^Call to an undefined static method TYPO3\\\\CMS\\\\Backend\\\\Utility\\\\BackendUtility\\:\\:getModuleUrl\\(\\)\\.$#"
			count: 1
			path: Classes/Backend/Form/ToolBox.php

		-
			message: "#^Call to static method substituteMarkerArrayCached\\(\\) on an unknown class Sys25\\\\RnBase\\\\Backend\\\\Lister\\\\Templates\\.$#"
			count: 1
			path: Classes/Backend/Lister/AbstractLister.php

		-
			message: "#^Access to an undefined property Sys25\\\\RnBase\\\\Backend\\\\Module\\\\BaseModule\\:\\:\\$pageinfo\\.$#"
			count: 1
			path: Classes/Backend/Module/BaseModule.php

		-
			message: "#^Access to an undefined property Sys25\\\\RnBase\\\\Backend\\\\Module\\\\BaseModule\\:\\:\\$selector\\.$#"
			count: 2
			path: Classes/Backend/Module/BaseModule.php

		-
			message: "#^Access to an undefined property Sys25\\\\RnBase\\\\Backend\\\\Module\\\\BaseModule\\:\\:\\$subselector\\.$#"
			count: 1
			path: Classes/Backend/Module/BaseModule.php

		-
			message: "#^Access to an undefined property Sys25\\\\RnBase\\\\Backend\\\\Module\\\\BaseModule\\:\\:\\$tabs\\.$#"
			count: 2
			path: Classes/Backend/Module/BaseModule.php

		-
			message: "#^Access to an undefined property Sys25\\\\RnBase\\\\Backend\\\\Module\\\\ExtendedModFunc\\:\\:\\$mod\\.$#"
			count: 2
			path: Classes/Backend/Module/ExtendedModFunc.php

		-
			message: "#^Function boolean not found\\.$#"
			count: 1
			path: Classes/Backend/Module/ExtendedModFunc.php

		-
			message: "#^Access to an undefined property Sys25\\\\RnBase\\\\Backend\\\\Template\\\\Override\\\\DocumentTemplate\\:\\:\\$JScode\\.$#"
			count: 1
			path: Classes/Backend/Template/Override/DocumentTemplate.php

		-
			message: "#^Access to an undefined property Sys25\\\\RnBase\\\\Backend\\\\Template\\\\Override\\\\DocumentTemplate\\:\\:\\$divClass\\.$#"
			count: 1
			path: Classes/Backend/Template/Override/DocumentTemplate.php

		-
			message: "#^Access to an undefined property Sys25\\\\RnBase\\\\Backend\\\\Template\\\\Override\\\\DocumentTemplate\\:\\:\\$endOfPageJsBlock\\.$#"
			count: 1
			path: Classes/Backend/Template/Override/DocumentTemplate.php

		-
			message: "#^Access to an undefined property Sys25\\\\RnBase\\\\Backend\\\\Template\\\\Override\\\\DocumentTemplate\\:\\:\\$form\\.$#"
			count: 1
			path: Classes/Backend/Template/Override/DocumentTemplate.php

		-
			message: "#^Access to an undefined property Sys25\\\\RnBase\\\\Backend\\\\Template\\\\Override\\\\DocumentTemplate\\:\\:\\$inDocStylesArray\\.$#"
			count: 1
			path: Classes/Backend/Template/Override/DocumentTemplate.php

		-
			message: "#^Access to an undefined property Sys25\\\\RnBase\\\\Backend\\\\Template\\\\Override\\\\DocumentTemplate\\:\\:\\$moduleTemplate\\.$#"
			count: 1
			path: Classes/Backend/Template/Override/DocumentTemplate.php

		-
			message: "#^Access to an undefined property Sys25\\\\RnBase\\\\Backend\\\\Template\\\\Override\\\\DocumentTemplate\\:\\:\\$moduleTemplateFilename\\.$#"
			count: 1
			path: Classes/Backend/Template/Override/DocumentTemplate.php

		-
			message: "#^Access to an undefined property Sys25\\\\RnBase\\\\Backend\\\\Template\\\\Override\\\\DocumentTemplate\\:\\:\\$postCode\\.$#"
			count: 1
			path: Classes/Backend/Template/Override/DocumentTemplate.php

		-
			message: "#^Method Sys25\\\\RnBase\\\\Backend\\\\Template\\\\Override\\\\DocumentTemplate\\:\\:spacer\\(\\) should return string but return statement is missing\\.$#"
			count: 1
			path: Classes/Backend/Template/Override/DocumentTemplate.php

		-
			message: "#^Access to an undefined property Sys25\\\\RnBase\\\\Backend\\\\Utility\\\\BEPager\\:\\:\\$conf\\.$#"
			count: 3
			path: Classes/Backend/Utility/BEPager.php

		-
			message: "#^Access to an undefined property Sys25\\\\RnBase\\\\Backend\\\\Utility\\\\BEPager\\:\\:\\$modName\\.$#"
			count: 3
			path: Classes/Backend/Utility/BEPager.php

		-
			message: "#^Method Sys25\\\\RnBase\\\\Backend\\\\Utility\\\\BaseLister\\:\\:getColumns\\(\\) invoked with 0 parameters, 1 required\\.$#"
			count: 1
			path: Classes/Backend/Utility/BaseLister.php

		-
			message: "#^Call to an undefined static method TYPO3\\\\CMS\\\\Core\\\\Core\\\\Bootstrap\\:\\:getInstance\\(\\)\\.$#"
			count: 1
			path: Classes/Backend/Utility/TCA.php

		-
			message: "#^Method Sys25\\\\RnBase\\\\Configuration\\\\Processor\\:\\:_queryArrayByPath\\(\\) should return array but return statement is missing\\.$#"
			count: 1
			path: Classes/Configuration/Processor.php

		-
			message: "#^Method Sys25\\\\RnBase\\\\Configuration\\\\Processor\\:\\:queryData\\(\\) should return string but return statement is missing\\.$#"
			count: 1
			path: Classes/Configuration/Processor.php

		-
			message: "#^Method Sys25\\\\RnBase\\\\Configuration\\\\Processor\\:\\:queryDataSet\\(\\) should return array but return statement is missing\\.$#"
			count: 1
			path: Classes/Configuration/Processor.php

		-
			message: "#^Function mssql_connect not found\\.$#"
			count: 1
			path: Classes/Database/Driver/MsSqlDatabase.php

		-
			message: "#^Function mssql_fetch_assoc not found\\.$#"
			count: 1
			path: Classes/Database/Driver/MsSqlDatabase.php

		-
			message: "#^Function mssql_fetch_row not found\\.$#"
			count: 1
			path: Classes/Database/Driver/MsSqlDatabase.php

		-
			message: "#^Function mssql_free_result not found\\.$#"
			count: 1
			path: Classes/Database/Driver/MsSqlDatabase.php

		-
			message: "#^Function mssql_get_last_message not found\\.$#"
			count: 1
			path: Classes/Database/Driver/MsSqlDatabase.php

		-
			message: "#^Function mssql_pconnect not found\\.$#"
			count: 1
			path: Classes/Database/Driver/MsSqlDatabase.php

		-
			message: "#^Function mssql_query not found\\.$#"
			count: 2
			path: Classes/Database/Driver/MsSqlDatabase.php

		-
			message: "#^Function mssql_rows_affected not found\\.$#"
			count: 1
			path: Classes/Database/Driver/MsSqlDatabase.php

		-
			message: "#^Function mssql_select_db not found\\.$#"
			count: 1
			path: Classes/Database/Driver/MsSqlDatabase.php

		-
			message: "#^Method Sys25\\\\RnBase\\\\Database\\\\Driver\\\\MsSqlDatabase\\:\\:INSERTquery\\(\\) should return string but return statement is missing\\.$#"
			count: 1
			path: Classes/Database/Driver/MsSqlDatabase.php

		-
			message: "#^Undefined variable\\: \\$php_errormsg$#"
			count: 1
			path: Classes/Database/Driver/MsSqlDatabase.php

		-
			message: "#^Function mysql_error not found\\.$#"
			count: 1
			path: Classes/Database/Driver/MySqlDatabase.php

		-
			message: "#^Method Sys25\\\\RnBase\\\\Database\\\\Driver\\\\TYPO3DBAL\\:\\:exec_DELETEquery\\(\\) should return object but return statement is missing\\.$#"
			count: 1
			path: Classes/Database/Driver/TYPO3DBAL.php

		-
			message: "#^Method Sys25\\\\RnBase\\\\Database\\\\Driver\\\\TYPO3DBAL\\:\\:exec_INSERTquery\\(\\) should return object but return statement is missing\\.$#"
			count: 1
			path: Classes/Database/Driver/TYPO3DBAL.php

		-
			message: "#^Method Sys25\\\\RnBase\\\\Database\\\\Driver\\\\TYPO3DBAL\\:\\:exec_UPDATEquery\\(\\) should return object but return statement is missing\\.$#"
			count: 1
			path: Classes/Database/Driver/TYPO3DBAL.php

		-
			message: "#^Access to an undefined property Sys25\\\\RnBase\\\\Frontend\\\\Filter\\\\BaseFilter\\:\\:\\$inputData\\.$#"
			count: 1
			path: Classes/Frontend/Filter/BaseFilter.php

		-
			message: "#^Access to an undefined property Sys25\\\\RnBase\\\\Frontend\\\\Marker\\\\ListBuilder\\:\\:\\$info\\.$#"
			count: 6
			path: Classes/Frontend/Marker/ListBuilder.php

		-
			message: "#^Access to private property \\$mem of class Sys25\\\\RnBase\\\\Frontend\\\\Marker\\\\FormatUtil\\.$#"
			count: 4
			path: Classes/Frontend/Marker/ListBuilder.php

		-
			message: "#^Access to private property \\$time of class Sys25\\\\RnBase\\\\Frontend\\\\Marker\\\\FormatUtil\\.$#"
			count: 4
			path: Classes/Frontend/Marker/ListBuilder.php

		-
			message: "#^Access to an undefined property Sys25\\\\RnBase\\\\Frontend\\\\Marker\\\\ListMarkerInfo\\:\\:\\$template\\.$#"
			count: 2
			path: Classes/Frontend/Marker/ListMarkerInfo.php

		-
			message: "#^Access to an undefined property Sys25\\\\RnBase\\\\Frontend\\\\Marker\\\\ListProvider\\:\\:\\$fields\\.$#"
			count: 2
			path: Classes/Frontend/Marker/ListProvider.php

		-
			message: "#^Access to an undefined property Sys25\\\\RnBase\\\\Frontend\\\\Marker\\\\ListProvider\\:\\:\\$mode\\.$#"
			count: 2
			path: Classes/Frontend/Marker/ListProvider.php

		-
			message: "#^Access to an undefined property Sys25\\\\RnBase\\\\Frontend\\\\Marker\\\\ListProvider\\:\\:\\$options\\.$#"
			count: 2
			path: Classes/Frontend/Marker/ListProvider.php

		-
			message: "#^Access to an undefined property Sys25\\\\RnBase\\\\Frontend\\\\Marker\\\\ListProvider\\:\\:\\$searchCallback\\.$#"
			count: 2
			path: Classes/Frontend/Marker/ListProvider.php

		-
			message: "#^Access to an undefined property Sys25\\\\RnBase\\\\Frontend\\\\Marker\\\\PageBrowserMarker\\:\\:\\$link\\.$#"
			count: 2
			path: Classes/Frontend/Marker/PageBrowserMarker.php

		-
			message: "#^Access to an undefined property Sys25\\\\RnBase\\\\Frontend\\\\Marker\\\\PageBrowserMarker\\:\\:\\$noLink\\.$#"
			count: 1
			path: Classes/Frontend/Marker/PageBrowserMarker.php

		-
			message: "#^Access to an undefined property Sys25\\\\RnBase\\\\Frontend\\\\Marker\\\\PageBrowserMarker\\:\\:\\$pageBrowser\\.$#"
			count: 6
			path: Classes/Frontend/Marker/PageBrowserMarker.php

		-
			message: "#^Access to an undefined property Sys25\\\\RnBase\\\\Frontend\\\\Marker\\\\PageBrowserMarker\\:\\:\\$token\\.$#"
			count: 2
			path: Classes/Frontend/Marker/PageBrowserMarker.php

		-
			message: "#^Access to an undefined property Sys25\\\\RnBase\\\\Frontend\\\\Marker\\\\SimpleMarker\\:\\:\\$classname\\.$#"
			count: 2
			path: Classes/Frontend/Marker/SimpleMarker.php

		-
			message: "#^Access to an undefined property Sys25\\\\RnBase\\\\Maps\\\\DefaultMarker\\:\\:\\$icon\\.$#"
			count: 2
			path: Classes/Maps/DefaultMarker.php

		-
			message: "#^Access to an undefined property Sys25\\\\RnBase\\\\Maps\\\\Google\\\\Control\\:\\:\\$type\\.$#"
			count: 2
			path: Classes/Maps/Google/Control.php

		-
			message: "#^Access to an undefined property Sys25\\\\RnBase\\\\Maps\\\\Google\\\\Icon\\:\\:\\$anchorPoint\\.$#"
			count: 2
			path: Classes/Maps/Google/Icon.php

		-
			message: "#^Access to an undefined property Sys25\\\\RnBase\\\\Maps\\\\Google\\\\Icon\\:\\:\\$image\\.$#"
			count: 2
			path: Classes/Maps/Google/Icon.php

		-
			message: "#^Access to an undefined property Sys25\\\\RnBase\\\\Maps\\\\Google\\\\Icon\\:\\:\\$map\\.$#"
			count: 2
			path: Classes/Maps/Google/Icon.php

		-
			message: "#^Access to an undefined property Sys25\\\\RnBase\\\\Maps\\\\Google\\\\Icon\\:\\:\\$shadow\\.$#"
			count: 2
			path: Classes/Maps/Google/Icon.php

		-
			message: "#^Access to an undefined property Sys25\\\\RnBase\\\\Maps\\\\Google\\\\Icon\\:\\:\\$shadowSize\\.$#"
			count: 2
			path: Classes/Maps/Google/Icon.php

		-
			message: "#^Access to an undefined property Sys25\\\\RnBase\\\\Maps\\\\Google\\\\Icon\\:\\:\\$size\\.$#"
			count: 2
			path: Classes/Maps/Google/Icon.php

		-
			message: "#^Access to an undefined property Sys25\\\\RnBase\\\\Maps\\\\Google\\\\Icon\\:\\:\\$winAnchorPoint\\.$#"
			count: 2
			path: Classes/Maps/Google/Icon.php

		-
			message: "#^Call to static method lookup\\(\\) on an unknown class tx_wecmap_cache\\.$#"
			count: 1
			path: Classes/Maps/Google/Util.php

		-
			message: "#^Access to an undefined property Sys25\\\\RnBase\\\\Search\\\\ConditionBuilder\\:\\:\\$tableMapping\\.$#"
			count: 2
			path: Classes/Search/ConditionBuilder.php

		-
			message: "#^Call to an undefined method Sys25\\\\RnBase\\\\Search\\\\ConditionBuilder\\:\\:useAlias\\(\\)\\.$#"
			count: 1
			path: Classes/Search/ConditionBuilder.php

		-
			message: "#^Method Sys25\\\\RnBase\\\\Search\\\\ConditionBuilder\\:\\:applyJoinedConditions\\(\\) should return string but return statement is missing\\.$#"
			count: 1
			path: Classes/Search/ConditionBuilder.php

		-
			message: "#^Call to an undefined static method PHPUnit\\\\Framework\\\\TestCase\\:\\:getMock\\(\\)\\.$#"
			count: 1
			path: Classes/Testing/BaseTestCase.php

		-
			message: "#^Call to an undefined static method TYPO3\\\\CMS\\\\Core\\\\Core\\\\Bootstrap\\:\\:getInstance\\(\\)\\.$#"
			count: 1
			path: Classes/Testing/BaseTestCase.php

		-
			message: "#^Access to an undefined property Sys25\\\\RnBase\\\\Utility\\\\Calendar\\:\\:\\$_clearHash\\.$#"
			count: 3
			path: Classes/Utility/Calendar.php

		-
			message: "#^Access to an undefined property Sys25\\\\RnBase\\\\Utility\\\\Calendar\\:\\:\\$_seconds\\.$#"
			count: 3
			path: Classes/Utility/Calendar.php

		-
			message: "#^Access to an undefined property Sys25\\\\RnBase\\\\Utility\\\\Email\\:\\:\\$htmlPart\\.$#"
			count: 2
			path: Classes/Utility/Email.php

		-
			message: "#^Access to an undefined property Sys25\\\\RnBase\\\\Utility\\\\Email\\:\\:\\$subject\\.$#"
			count: 2
			path: Classes/Utility/Email.php

		-
			message: "#^Access to an undefined property Sys25\\\\RnBase\\\\Utility\\\\Email\\:\\:\\$textPart\\.$#"
			count: 2
			path: Classes/Utility/Email.php

		-
			message: "#^Access to an undefined property Sys25\\\\RnBase\\\\Utility\\\\Email\\:\\:\\$toAsString\\.$#"
			count: 1
			path: Classes/Utility/Email.php

		-
			message: "#^Call to static method fromPath\\(\\) on an unknown class Swift_Attachment\\.$#"
			count: 1
			path: Classes/Utility/Email.php

		-
			message: "#^Method Sys25\\\\RnBase\\\\Utility\\\\Files\\:\\:getBorderAttr\\(\\) should return string but return statement is missing\\.$#"
			count: 1
			path: Classes/Utility/Files.php

		-
			message: "#^Access to an undefined property Sys25\\\\RnBase\\\\Utility\\\\Link\\:\\:\\$absUrl\\.$#"
			count: 2
			path: Classes/Utility/Link.php

		-
			message: "#^Access to an undefined property Sys25\\\\RnBase\\\\Utility\\\\Link\\:\\:\\$absUrlSchema\\.$#"
			count: 2
			path: Classes/Utility/Link.php

		-
			message: "#^Access to an undefined property Sys25\\\\RnBase\\\\Utility\\\\Queue\\:\\:\\$arrCurrentSize\\.$#"
			count: 1
			path: Classes/Utility/Queue.php

		-
			message: "#^Undefined variable\\: \\$_arr$#"
			count: 1
			path: Classes/Utility/Spyc.php

		-
			message: "#^Access to an undefined property Sys25\\\\RnBase\\\\Utility\\\\TSFAL\\:\\:\\$cObj\\.$#"
			count: 2
			path: Classes/Utility/TSFAL.php

		-
			message: "#^Cannot unset offset 'field' on array\\(\\)\\.$#"
			count: 1
			path: Classes/Utility/TSFAL.php

		-
			message: "#^Undefined variable\\: \\$EM_CONF$#"
			count: 2
			path: Classes/Utility/TYPO3.php

		-
			message: "#^Instantiated class TYPO3\\\\CMS\\\\Core\\\\TimeTracker\\\\NullTimeTracker not found\\.$#"
			count: 1
			path: Classes/Utility/Typo3Classes.php

		-
			message: "#^Class Sys25\\\\RnBase\\\\Fluid\\\\View\\\\Action not found\\.$#"
			count: 1
			path: Legacy/Controller/AbstractController.php

		-
			message: "#^Method tx_rnbase_action_BaseIOC\\:\\:setConfigurations\\(\\) should return Sys25\\\\RnBase\\\\Configuration\\\\ConfigurationInterface but return statement is missing\\.$#"
			count: 1
			path: Legacy/action/class.tx_rnbase_action_BaseIOC.php

		-
			message: "#^Call to an undefined static method TYPO3\\\\CMS\\\\Core\\\\Utility\\\\GeneralUtility\\:\\:requireOnce\\(\\)\\.$#"
			count: 1
			path: Legacy/class.tx_rnbase.php

		-
			message: "#^Access to an undefined property tx_rnbase_controller\\:\\:\\$cObj\\.$#"
			count: 1
			path: Legacy/class.tx_rnbase_controller.php

		-
			message: "#^Access to an undefined property tx_rnbase_controller\\:\\:\\$extensionKey\\.$#"
			count: 1
			path: Legacy/class.tx_rnbase_controller.php

		-
			message: "#^Access to an undefined property tx_rnbase_controller\\:\\:\\$qualifier\\.$#"
			count: 1
			path: Legacy/class.tx_rnbase_controller.php

		-
			message: "#^Caught class Sys25\\\\RnBase\\\\Utility\\\\TYPO3\\\\CMS\\\\Core\\\\Error\\\\Http\\\\PageNotFoundException not found\\.$#"
			count: 1
			path: Legacy/class.tx_rnbase_controller.php

		-
			message: "#^Access to an undefined property tx_rnbase_filter_BaseFilter\\:\\:\\$inputData\\.$#"
			count: 1
			path: Legacy/filter/class.tx_rnbase_filter_BaseFilter.php

		-
			message: "#^Undefined variable\\: \\$subpartArray$#"
			count: 1
			path: Legacy/filter/class.tx_rnbase_filter_FilterItemMarker.php

		-
			message: "#^Undefined variable\\: \\$wrappedSubpartArray$#"
			count: 1
			path: Legacy/filter/class.tx_rnbase_filter_FilterItemMarker.php

		-
			message: "#^Call to an undefined static method Sys25\\\\RnBase\\\\Domain\\\\Model\\\\DataModel\\:\\:getRecord\\(\\)\\.$#"
			count: 1
			path: Legacy/model/class.tx_rnbase_model_data.php

		-
			message: "#^You should use assertNull\\(\\) instead of assertSame\\(null, \\$actual\\)\\.$#"
			count: 2
			path: tests/Classes/Domain/Model/BaseModelTest.php

		-
			message: "#^You should use assertNull\\(\\) instead of assertSame\\(null, \\$actual\\)\\.$#"
			count: 1
			path: tests/Classes/ExtBaseFluid/Controller/AbstractControllerTest.php

		-
			message: "#^Class TYPO3\\\\CMS\\\\Extbase\\\\Object\\\\ObjectManager constructor invoked with 0 parameters, 2 required\\.$#"
			count: 1
			path: tests/Classes/ExtBaseFluid/View/StandaloneTest.php

		-
			message: "#^Class TYPO3\\\\CMS\\\\Extbase\\\\Object\\\\ObjectManager constructor invoked with 0 parameters, 2 required\\.$#"
			count: 1
			path: tests/Classes/ExtBaseFluid/ViewHelper/BaseViewHelperTest.php

		-
			message: "#^Array has 4 duplicate keys with value 125 \\(__LINE__, __LINE__, __LINE__, __LINE__\\)\\.$#"
			count: 1
			path: tests/Classes/Utility/CryptTest.php

		-
			message: "#^Array has 3 duplicate keys with value 246 \\(__LINE__, __LINE__, __LINE__\\)\\.$#"
			count: 1
			path: tests/action/class.tx_rnbase_tests_action_CacheHandlerDefault_testcase.php

		-
			message: "#^Call to an undefined method tx_rnbase_dummyController\\:\\:getErrorMailHtml\\(\\)\\.$#"
			count: 1
			path: tests/class.tx_rnbase_tests_controller_testcase.php

		-
			message: "#^You should use assertNull\\(\\) instead of assertSame\\(null, \\$actual\\)\\.$#"
			count: 2
			path: tests/model/class.tx_rnbase_tests_model_Base_testcase.php

		-
			message: "#^Array has 8 duplicate keys with value 134 \\(__LINE__, __LINE__, __LINE__, __LINE__, __LINE__, __LINE__, __LINE__, __LINE__\\)\\.$#"
			count: 1
			path: tests/util/class.tx_rnbase_tests_util_Link_testcase.php

		-
			message: "#^Array has 8 duplicate keys with value 79 \\(__LINE__, __LINE__, __LINE__, __LINE__, __LINE__, __LINE__, __LINE__, __LINE__\\)\\.$#"
			count: 1
			path: tests/util/class.tx_rnbase_tests_util_Link_testcase.php

		-
			message: "#^Undefined variable\\: \\$cObj$#"
			count: 1
			path: tests/util/class.tx_rnbase_tests_util_SimpleMarker_testcase.php

		-
			message: "#^Array has 3 duplicate keys with value 70 \\(__LINE__, __LINE__, __LINE__\\)\\.$#"
			count: 1
			path: tests/util/class.tx_rnbase_tests_util_Strings_testcase.php

		-
			message: "#^Instantiated class TYPO3\\\\CMS\\\\Core\\\\TimeTracker\\\\NullTimeTracker not found\\.$#"
			count: 1
			path: tests/util/class.tx_rnbase_tests_util_Templates_testcase.php

