includes:
    - phpstan-baseline.neon

parameters:
  parallel:
      # Don't be overly greedy on machines with more CPU's to be a good neighbor especially on CI
      maximumNumberOfProcesses: 5

  level: 0

  bootstrapFiles:
    - .Build/vendor/autoload.php

  paths:
    - Classes
    - Legacy
    - tests

  scanDirectories:
    - Classes
    - Legacy
    - tests

  excludePaths:
    - Classes/Typo3Wrapper/Service/AuthenticationService.php
    - Legacy/model/class.tx_rnbase_model_data.php
    - Legacy/model/class.tx_rnbase_model_base.php
    - Legacy/filter/class.tx_rnbase_filter_FilterItemMarker.php

  reportUnmatchedIgnoredErrors: false
